<template>
    <div>
        <v-container>
            <v-layout row wrap>
                <v-flex xs4>
                    <v-text-field v-model="currency"></v-text-field>
                </v-flex>
                <v-flex xs1>
                    <v-checkbox label="Refresh?" v-model="refresh" @change="startRefresh"></v-checkbox>
                </v-flex>
                <v-flex xs4 text-left>
                    <v-btn color="blue" text-color="white" large @click="doStuff">Get!</v-btn>
                </v-flex>
            </v-layout>
            <v-layout row wrap>
                <v-flex xs12>
                <v-chip
                    @input="removeChip(symbol)"
                    color="green" 
                    text-color="white"
                    close 
                    :key="symbol" 
                    v-for="symbol in selectedCoinNames">{{symbol}}</v-chip>
                    <v-divider></v-divider>
                </v-flex>
            </v-layout>
            <v-layout row wrap>
                <v-flex xs12>
                    <v-chip 
                    @click="setCurrencyChipList(symbol)" 
                    :key="id" v-for="{name, id, symbol} in computedCoinNames">{{name}}</v-chip>
                </v-flex>
            </v-layout>
            <v-data-table
                    :headers="headers"
                    :items="cryptoList"
                    :loading="isLoading"
                    class="elevation-1"
            >
                <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
                <template slot="items" slot-scope="props">
                    <td>{{ props.item.CURRENCY }}</td>
                    <td>{{ props.item.USD }}</td>
                    <td>{{ props.item.BTC }}</td>
                    <td>{{ props.item.EUR }}</td>
                </template>
            </v-data-table>
        </v-container>
    </div>
</template>
<script>
    const API_KEY = '';

    export default {
        data() {
            return {
                cryptoList: [],
                currency: '',
                savedCurrency: '',
                headers: [],
                refresh: false,
                interval: null,
                isLoading: false,
                coinNames: [],
                selectedCoinNames: []
            }
        },
        computed: {
            computedCoinNames() {
                return this.currency.length > 1 ? this.coinNames.filter(({name}) => name.includes(this.currency)) : [];
            }
        },
        created() {
            this.getCryptoCoinList();
        },
        methods: {
            removeChip(symbol) {
                this.selectedCoinNames.splice(this.selectedCoinNames.indexOf(symbol), 1);
                this.savedCurrency = this.selectedCoinNames.join(',');
            },
            setCurrencyChipList(symbol) {
                if (this.selectedCoinNames.includes(symbol)) {
                    return;
                }

                this.selectedCoinNames.push(symbol);
                this.savedCurrency = this.selectedCoinNames.join(',');
            },
            getCryptoCoinList() {
                fetch('https://api.coinpaprika.com/v1/coins')
                .then(response => response.json())
                .then(data => this.coinNames = data);
            },
            getCryptoList() {
                this.isLoading = true;
                this.cryptoList = [];
                this.headers = [];

                fetch(`https://min-api.cryptocompare.com/data/pricemulti?fsyms=${this.savedCurrency}&tsyms=USD,BTC,EUR&api_key=${API_KEY}`)
                    .then(response => response.json())
                    .then(data => this.cryptoList = Object.keys(data).map(key => {
                        data[key].CURRENCY = key;
                        return data[key];
                    }))
                    .then(crypto => {
                        Object.keys(crypto[0]).forEach(key => {
                            if (key !== 'CURRENCY') {
                                this.headers.push({
                                    text: key,
                                    value: key,
                                });
                            }
                        });

                        this.headers.unshift({text: 'CURRENCY', value: 'CURRENCY'});

                        this.isLoading = false;
                    })
                    .catch(err => console.log(err));
            },
            startRefresh() {
                if (this.refresh) {
                    this.interval = setInterval(() => this.getCryptoList(), 5000);
                } else {
                    clearInterval(this.interval);
                }
            },
            doStuff() {
                this.getCryptoList();
            }
        },
    }
</script>