<template>
    <div>
        {{cryptoData}}
        <button @click="$emit('update')">Update</button>
    </div>
</template>
<script>
    export default {
        props: {
            cryptoData: {
                type: Object,
                required: true
            }
        },
        created () {
            this.$emit('update');
        }
    }
</script>