<template>
  <v-app>
    <v-content>
      <crypto-list/>
    </v-content>
  </v-app>
</template>

<script>
import CryptoList from './components/crypto-list.vue'

export default {
  name: 'App',
  components: {
    CryptoList
  },
  data () {
    return {
      //
    }
  }
}
</script>
